@mixin sub-title {
    color: $first-p-color ;
    font-size: 18px;
    font-family: $main-font;
    font-weight: 400;
    line-height: 30px;
}

@mixin between {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@mixin logo {
    font-size: 26px;
    font-family: $main-font;
    font-weight: 900;
    color: $logo;
}

@mixin btn {
    background: $button;
    text-align: center;
    border-radius: 2px;
    font-size: 12px;
    font-family: $main-font;
    font-weight: 500;
    color: #fff;
    border: 2px solid $title;
}

@mixin nav-link {
    font-size: 14px;
    font-family: $main-font;
    margin-right: 60px;
}

@mixin h2-title {
    color: $title;
    font-size: 36px;
    font-family: $main-font;
    font-weight: 500;
    line-height: 48px;
}

@mixin main-text {
    color: $p-color;
    font-size: 16px;
    font-family: $main-font;
    font-weight: 400;
    line-height: 26px;
}

@mixin women-1_dop-title {
    color: $title;
    font-size: $default-font;
    font-family: $main-font;
    font-weight: 500;
    line-height: 26px;
}

@mixin women-1_dop-subtitle {
    color: #5D6970;
    font-size: 12px;
    font-family: $main-font;
    font-weight: 400;
    line-height: 18px;
}